# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=attestos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="plunder707"

IMAGE_DESC="Bazzite plus TPM boot attestation. See github.com/plunder707/attested-gaming"
IMAGE_KEYWORDS="bootc,oci,linux,gaming,tpm,attestation,secureboot"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
