[Unit]
Description=Provision the attestos TPM attestation key
Documentation=https://github.com/plunder707/attested-gaming
ConditionPathExists=/dev/tpmrm0
[Service]
Type=oneshot
ExecStart=/usr/bin/attestos-provision
RemainAfterExit=yes
StateDirectory=attestos
StateDirectoryMode=0700

[Install]
WantedBy=multi-user.target
